@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body {
    
    min-height: 100vh;
}
html {
    min-height: 100vh;
}

.navbar {
    text-align: right;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%; /* Full width */
    z-index: 1;
    
}
ul {
   background-color: rgb(204,204,204,0.9);
   float:right;
   
   text-align: center;
  
}
    

.navbar-light .navbar-toggler {
  background-color: rgb(204,204,204,0.9);
}

#landing {
    
    background-image: url('../images/mainpic.jpg');
    display: block;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-top: 0px;
    z-index: 1;
    overflow-y: scroll;
}
#main {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 10%;
  
  
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}




/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  float:right;
}



#about-us {
    background-attachment: fixed;
    background-image: url("../images/second wall 34.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    height: 115vh;
    margin-bottom:0px;
    

}

#core-about a{
    color:#212529;
}
  #about-row{
    margin-top: 32px;
}

#about-txt {
      
      font-size: 24px;
      text-align: center;
 
}

#thumbnails-davy {
    margin-right: inherit;
    margin-left: 109px;
    text-align: center;
    margin-top: 50px;
}

#thumbnails-micky {
    margin-left: -95px;
    padding-left: 82px;
    text-align: center;
    margin-top: 50px;
}

.card-title {
  text-align: center;
  color: #414141;
  padding-top: 9px;
  padding-bottom: 21px;
  font-size: 27px;
}
#link-more{
  font-size: 25px;
  text-align:right;
}

#gallery {
  background-attachment: fixed;
    background-image: url("../images/second wall 34.jpg");
    background-position: center;
    background-size: cover;
    
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
    height: 100vh;
}

.img-thumbnail {
  height: 200px;
  width: 260px;
  padding: 0.25rem;
    background-color: #fff;
    border: 14px transparent;
    border-radius: 2.25rem;
    margin: 4px;
}
#media-title {

  align-content:center;
}

#playlist {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
    height: 100vh;
}

#contact-us{
    background-attachment: fixed;
    background-image: url("../images/second wall 34.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    font-weight: 300;
    
    height: 100vh;
    
}

#videofile {
  height: 100vh;
}

#footer {
   
    width: 100vw;
    position: absolute;
    font-weight: 300;
    margin-bottom: 0;
    height: 30px;
    
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media (max-width: 769px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  #thumbnails-davy {
    margin-right: auto;
    margin-left: auto;}
  #about-txt {
     font-size: 19px;
      text-align: center;}
  #thumbnails-micky {
    margin-left: 5%;
    padding-left: auto;}
  #about-us{
    height: 200vh;
    position:relative;
  }
    #link-more {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    #landing {
      background-size: cover;
      background-image: url('../images/black-guitar.jpg');
      background-position: right;
      background-repeat: no-repeat;
    }
    
  }

#thumbnails-card {
  
}

#audioheader {
    
}