html{
  scroll-behavior: smooth;
  
}
body {
  height: 100%;
  font-family: 'Pacifico', cursive;
  overflow-x: hidden;
  border-style: none;
}
/*-----------------------------------------------------------nav bar section */
.navbar {
    text-align: right;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%; /* Full width */
    z-index: 1;
}
ul {
   background-color: rgb(204,204,204,0.9);
   float:right;
   text-align: center;
}
li.nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
}
a.page-scroll {
  color:#212529;
  padding: 5px;
  font-size: 1.2em;
}
a.page-scroll:hover { 
  color: grey;
  text-decoration: none;
}   
.navbar-light .navbar-toggler {
  background-color: rgb(204,204,204,0.9);
}
/*-----------------------------------------------------------landing section */
#landing {
    background-image: url('../images/mainpic.jpg');
    display: block;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    z-index: 1;
}

/*-----------------------------------------------------------about us section */
#about-us {
    background-attachment: fixed;
    background-image: url("../images/second wall 34.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    height: 100vh;
    margin-bottom:0px;
    /*  overflow-y: scroll; */
}
#core-about a {
    color: #212529;
    font-size: x-large;
    text-decoration: none;
}
#core-about a:hover{
  color:grey;
}
#about-row{
    margin-top: 32px;
}
#about-txt {
      font-size: 24px;
      text-align: center;
}
#thumbnails-davy {
    text-align: center;
}
#thumbnails-micky {
    text-align: center;
}
.card-title {
  text-align: center;
  color: #414141;
  padding-top: 9px;
  padding-bottom: 21px;
  font-size: 27px;
}
#link-more{
  font-size: 25px;
  text-align:right;
}
#link-more:hover{
  color:grey;
}
/*------------------------------------------------------playlist section */
#playlist {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
    height: 100vh;
}
/*------------------------------------------------------gallery section */
#gallery {
    background-attachment: fixed;
    background-image: url("../images/second wall 34.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
    height: 100vh;
    /*  overflow-y: scroll; */
}
.img-thumbnail {
  height: 200px;
  width: 260px;
  padding: 0.25rem;
  background-color: #fff;
  border: 14px transparent;
  border-radius: 2.25rem;
  margin: 4px;
}
#media-title {
    align-content:center;
}
/*------------------------------------------------------video section */
#videofile {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
    height: 100vh;
    /*  overflow-y: scroll; */
}
/*------------------------------------------------------contact-us section */
#contact-us{
    background-attachment: fixed;
    background-image: url("../images/second wall 34.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
   /*  overflow-y: scroll; */
    height: 80vh;
    margin: 0;
}
#contact-us p{
  font-size: x-large;
}
/*------------------------------------------------------footer section */
footer {
    width: 100vw;
    position: inherit;
    font-weight: 300;
    margin: 0;
    height: 30px;
    background-color: #414141;
    height: 100px;
    color: white;
}
footer a{
  color: white;
}
.fa-twitter:hover{
  color:dodgerblue;
}
.fa-youtube-play:hover{
  color:#ff0000;
}
#social-media {
  padding-top: 30px;
  letter-spacing: 5px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media (max-width: 1025px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  h1.title{
    float:right;
    margin-top:40px;
  }
  #thumbnails-davy {
    margin: auto;
    padding: auto;
    }
  #about-txt {
    font-size: 19px;
    text-align: center;
  }
  #thumbnails-micky {
    margin: auto;
    }
  #about-us{
    height: auto;
    
  }
    #link-more {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    #landing {
      background-size: cover;
      background-image: url('../images/black-guitar.jpg');
      background-position: right;
      background-repeat: no-repeat;
    }
    #contact-us {
      height: auto;
      margin: 0;
    }
    footer {
      margin: 0;
    }
    #social-media {
      margin-top: 0px;
      padding-top: 30px
    }
    #gallery {
      height: auto;
      margin: auto;
    }
    #videofile {
      height: auto;
      margin: 0;
    }
    #spoty {
      width: 250px;
      height: 400px;
      margin: 0;
    }
    #playlist {
      height: auto;
      margin: auto;
    }
    .img-fluid{
      margin-bottom:30px;
      margin-top:30px;
    }
    body {
      margin: auto;
    }
  }


